.txt-biolet{
    color: #EFA7EA;
}

.btn-txt-go{
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    color: $txt-white;
    &::after{
        content: url(~@/assets/img/arrow_right.svg);
        width: 2rem;
        height: 2rem;
        vertical-align: middle;
        margin-left: .6rem;
    }
}

html{
    font-size: 10px;
}
body{
    margin: 0;
    background-color: $bg-gray !important;
    color: $txt-gray;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
h2{
    margin-top: 0;
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: $txt-gray !important;
}

.home{
    height: 100vh;
    @include verti-center();
    background: $bg-biolet;
    .home-wrap{
        margin: auto;
        text-align: center;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .home-logo{
            vertical-align: top;
        }
        .home-ico{
            vertical-align: bottom;
        }
    }
}

.contents-wrap{
    margin: 2rem;
}

.info-box{
    background: $bg-white;
    border-radius: $box-radius-15;
    padding: 1.6rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    &--who{
        width: 50%;
    }
    &--selfi{
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        vertical-align: middle;
    }
    &--name{
        font-size: 1.8rem;
        vertical-align: middle;
    }
    &--notice{
        width: 3.2rem;
        height: 3.2rem;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: .5rem;
            right: .6rem;
            width: .9rem;
            height: .9rem;
            border-radius: 100%;
            background: $bg-red;
        }
    }
    &--txt{
        font-size: 1.4rem;
        vertical-align: middle;
        color: $txt-red;
    }
}

.biolet-box{
    background: $bg-biolet;
    border-radius: $box-radius-15;
    padding: 4rem 2rem 3rem;
    // display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    text-align: center;
    &--msg{
        margin-bottom: 4rem;
        font-size: 1.8rem;
        color: $txt-white;
    }
    &--img{
        max-width: 20rem;
        margin: auto auto 4rem;
        display: block;
    }
    &--btn{
        margin: auto;
        display: block;
    }
    &--txt{
        font-size: 1.4rem;
        color: $txt-white;
    }
}

.soft-biolet-box{
    border-radius: $box-radius-15;
    background: $bg-biolet-soft;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    &--txt{
        font-size: 1.6rem;
        display: flex;
        &::before{
            content: '!';
            background: white;
            border: solid .1rem #333;
            width: 3.6rem;
            height: 3.6rem;
            display: inline-block;
            border-radius: 50%;
            font-size: 2.2rem;
            text-align: center;
            font-weight: 600;
            color: $txt-biolet;
            margin-right: 1rem;
        }
    }
    &--btn{
        background: url(~@/assets/img/arrow_right2.svg) no-repeat center;
        display: block;
        width: 3.6rem;
        height: 3.6rem;
    }
}

.white-box{
    background: $bg-white;
    border-radius: $box-radius-15;
    padding: 2rem;
    position: relative;
}

.white-box-contents{
    background: $bg-white;
    border-radius: $box-radius-15;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

.white-box-contents2{
    background: $bg-white;
    border-radius: $box-radius-15;
    padding-bottom: 2rem;
    position: relative;
}

.twoTone-box{
    border-radius: $box-radius-15;
    background: url(~@/assets/img/bg_twotone_biolet.svg) repeat-x center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 1.6rem;
    &--grade{
        margin: auto;
        margin-bottom: 2rem;
        display: table;
        *{
            vertical-align: middle;
        }
    }
    &--grade-mark{
        margin-right: 2rem;
    }
    &--star{
        margin-right: 1rem;
    }
    &--score{
        font-size: 1.6rem;
        font-weight: 300;
        color: $txt-white;
    }
    &--selfi{
        width: 8.2rem;
        height: 8.2rem;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 1rem;
        display: table;
    }
    &--nick{
        margin: auto;
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 500;
        color: $txt-white;
    }
    &--msg{
        text-align: center;
        font-size: 1.4rem;
        color: $txt-white;
        margin-bottom: 1rem;
    }
    &--price{
        text-align: center;
        font-size: 1.4rem;
        color: $txt-white;
        margin-bottom: 2rem;
    }
    &--tag{
        display: table;
        margin: auto;
        span{
            padding: .5rem 1rem;
            border-radius: 1.2rem;
            background: $bg-biolet-soft3;
            margin-right: .4rem;
            margin-left: .4rem;
            font-size: 1.2rem;
        }
    }
}

.tag{
    .swiper-wrapper{
        margin-left: 1rem;
    }
    &--unit{
        font-size: 1.4rem;
        color: #666;
        padding: .5rem .7rem .7rem;
        border-radius: .5rem;
        background: $bg-gray2;
        white-space: nowrap;
        width: auto !important;
    }
}

.box-tit{
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.btn_box_more{
    position: absolute;
    top: 2rem;
    right: 1rem;
    font-size: 1.4rem;
    color: #999;
    &::after{
        content: url(~@/assets/img/arrow_right_small.svg);
        width: 1.3rem;
        height: 1.3rem;
        vertical-align: middle;
        margin-left: .3rem;
    }
    border: none;
    background: transparent;
}

.navi-leftRight{
    margin: auto auto 2.8rem;
    display: table;
    &--prev{
        width: 2.8rem;
        height: 2.8rem;
        background: transparent url(~@/assets/img/arrow_left.svg) no-repeat center 47%;
        border: solid .1rem #E5E5E5;
        border-radius: .6rem;
        @include txt-indent();
    }
    &--txt{
        font-size: 1.8rem;
        color: $txt-gray;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
    &--next{
        width: 2.8rem;
        height: 2.8rem;
        background: transparent url(~@/assets/img/arrow_left.svg) no-repeat center;
        transform: rotate(180deg);
        border: solid .1rem #E5E5E5;
        border-radius: .6rem;
        @include txt-indent();
    }
}

.list-smileHeart{
    &--ico{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    &--face{
        vertical-align: middle;
        margin-right: 1.5rem;
        width: 2.6rem;
        height: 2.6rem;
    }
    &--digit{
        font-size: 2rem;
        font-weight: 300;
        color: $txt-gray2;
        vertical-align: middle;
    }
    &--msg{
        font-size: 1.4rem;
    }
    &--li{
        border-bottom: solid .1rem $border-gray;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        &:last-child{
            border-bottom: none;
            margin-bottom: 0;
        }
    }
}

.swiper-counseler{
    .swiper-wrapper{
        margin-left: 2rem;
        .swiper-slide{
            width: 6.8rem;
        }
    }
}

.counseler{
    &--selfi{
        width: 6.8rem;
        height: 6.8rem;
        margin-bottom: 1rem;
        border-radius: 50%;
    }
    &--txt{
        font-size: 1.4rem;
        color: #333;
        display: block;
        text-align: center;
    }
}

.now-counseling-mb{
    margin-bottom: 2rem;
}

.evaluation-margin{
    margin-right: 3rem;
    margin-left: 3rem;
}

.eval{
    display: flex;
    border-bottom: solid .1rem $border-gray2;
    padding-bottom: 2rem;
    &--point{
        font-size: 3.8rem;
        font-weight: 700;
        width: 30%;
        line-height: 1;
    }
    &--review{
        font-size: 1.4rem;
    }
}

.eval-item{
    // display: flex;
    line-height: 2;
    dt{
        display: inline-block;
        width: 40%;
        font-size: 1.4rem;
        color: $txt-gray2;
    }
    dd{
        margin-left: 0;
        display: inline-block;
        width: 60%;
    }
    &--star{
        height: 1.5rem;
    }
}
.tab-style{
    font-size: 1.4rem;
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom-width: .2rem;
        border-color: $border-biolet;
    }
}
.counseler-txt{
    margin-right: 2rem;
    margin-left: 2rem;
}
.tit-style{
    font-size: 1.4rem;
    color: $txt-white;
    background: $bg-gray3;
    padding: .4rem 1.2rem;
    border-radius: .6rem;
    display: inline-block;
}
.tit-style2{
    font-size: 1.6rem;
    font-weight: 700;
}
.list-disc-txt{
    list-style: disc;
    margin-left: 2rem;
    &--li{
        margin-bottom: .4rem;
    }
}
.counseler-information{
    margin-top: 3rem;
}
.counseler-information2{
    margin-top: 1.5rem;
}
.counseler-information3{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.counseler-stararea{
    margin-bottom: 2rem;
}
.txt-style{
    font-size: 1.4rem;
    color: $txt-666;
}
.btn-more{
    background: url(~@/assets/img/btn_more.svg) no-repeat center;
    width: 3.4rem;
    height: 3.4rem;
    margin-right: auto;
    margin-left: auto;
    @include txt-indent;
    border: none;
    display: block;
}
.map{
    width: calc(100% + 4rem);
    margin-right: -2rem;
    margin-left: -2rem;
}
.btn-tell{
    background: url(~@/assets/img/ico_tell.svg) no-repeat center;
    width: 3.4rem;
    height: 3.4rem;
    @include txt-indent;
    border: none;
}
.btn-share{
    background: url(~@/assets/img/ico_share.svg) no-repeat center;
    width: 3.4rem;
    height: 3.4rem;
    @include txt-indent;
    border: none;
}
.counseler-tell{
    margin-right: 1.2rem;
}
.btn-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
    &--zzim{
        margin-right: 1rem;
    }
    &--wide{
        display: block;
        width: 100%;
        border: none;
        border-radius: .8rem;
        background: $bg-biolet;
        color: $txt-white;
        font-size: 1.6rem;
        font-weight: 700;
    }
}

// 병헌 211214 로켓처방
.prescribe{
    background: $bg-white;
}
.swiper-ban{
    margin-bottom: 3.8rem;
    &--img{
        width: 100%;
    }
    &--paging{
        margin-top: -5rem;
        z-index: 1;
        position: absolute;
        bottom: 2.5rem !important;
        left: 2.5rem !important;
        span{
            width: 1rem;
            height: 1rem;
            margin-right: .5rem;
            background: $bg-white;
            opacity: 1;
            &.swiper-pagination-bullet-active{
                background: $bg-biolet;
                width: 2.2rem;
                border-radius: .5rem;
            }
        }
    }
}
.prescribe-menu{
    display: flex;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
    margin-bottom: 3rem;
    &--item{
        width: 20%;
        text-align: center;
        margin-right: .75rem;
        margin-left: .75rem;
        font-size: 1.3rem;
    }
    &--img{
        width: 100%;
        border-radius: 50%;
    }
}
.box-head-set{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    &--tit{
        font-size: 1.4rem;
        color: $txt-gray2;
    }
    &--more{
        @include clear-btn;
        background: url(~@/assets/img/arrow_right3.svg) no-repeat center;
        width: 2rem;
        height: 2rem;
    }
    &--txt{
        font-size: 1.4rem;
        color: $txt-biolet2;
        font-weight: 700;
    }
    &.no-margin{
        margin-right: 0;
        margin-left: 0;
    }
}
.heelingtem{
    margin-bottom: 3rem;
}
.swiper-heelingtem{
    .swiper-wrapper{
        margin-left: 2rem;
        .swiper-slide{
            width: 9.2rem;
        }
    }
    &--img{
        width: 100%;
        margin-bottom: 1rem;
    }
    &--txt{
        font-size: 1.3rem;
        margin-bottom: .5rem;
        min-height: 3.4rem;
    }
    &--num{
        display: flex;
        justify-content: space-between;
    }
    &--percent{
        font-size: 1.4rem;
        color: $txt-red2;
    }
    &--price{
        font-size: 1.4rem;
        font-weight: 700;
    }
    &--won{
        font-size: 1.2rem;
        font-weight: 400;
        color: $txt-666;
    }
}
.therapy{
    margin-bottom: 3rem;
}
.img-list{
    margin-right: 1.4rem;
    margin-left: 1.4rem;
    &--li{
        width: 46.3%;
        margin-right: .6rem;
        margin-left: .6rem;
        margin-bottom: 3.8rem;
        display: inline-block;
        vertical-align: top;
    }
    &--img{
        width: 100%;
        margin-bottom: 1rem;
    }
    &--tit{
        font-size: 1.3rem;
    }
}

// 병헌 라운지
.position-relative{
    position: relative;
}
.lounge-top{
    margin-bottom: 4.7rem;
}
.lounge-txt{
    display: flex;
    text-align: center;
    font-size: 1.4rem;
    color: $txt-white;
    margin-bottom: 3rem;
    &--1{
        height: 1.8;
        width: 50%;
        border-right: solid .1rem rgba($color: white, $alpha: .5);
    }
    &--2{
        width: 50%;
    }
    &--btn{
        width: 17.8rem;
        height: 5.4rem;
        border-radius: 2.7rem;
        border: none;
        background: $bg-white;
        font-size: 1.6rem;
        color: $txt-biolet;
        font-weight: 700;
        position: absolute;
        bottom: -2.5rem;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: .2rem .2rem .5rem rgba($color: black, $alpha: .2);
        &::after{
            content: url(~@/assets/img/arrow_right4.svg);
            width: 2rem;
            height: 2rem;
            vertical-align: sub;
            margin-left: 1rem;
        }
    }
}
.tag-set{
    background: $bg-blue-soft;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
    &--tit{
        font-size: 1.6rem;
        width: 10.5rem;
    }
    &--ul{
        font-size: 1.4rem;
        line-height: 1.7;
    }
    &--li{
        display: inline-block;
        margin-left: 1rem;
    }
}
.box-white{
    background: $bg-white;
    padding: 3rem 2rem;
}
.list-hori-img{
    &--li{
        display: flex;
        margin-bottom: 1rem;
    }
    &--img{
        width: 16.4rem;
    }
    &--txt{
        margin-left: 2rem;
    }
    &--tit{
        font-size: 1.6rem;
        margin-bottom: .5rem;
    }
    &--tag{
        font-size: 1.3rem;
        color: $txt-666;
        margin-bottom: .5rem;
    }
    &--tagtxt{
        margin-right: .5rem;
    }
    &--num{
        font-size: 1.4rem;
    }
    &--people{
        font-weight: 700;
    }
}